html, body, div, span, a, ul, li,
form, label, p, nav, section,
	margin: 0
	padding: 0

@import "bootstrap-grid.min.css"

$white: #F1F4F9
$lightblue: #CBDEFF
$blue: #0099CC
$darkblue: #0282AD

body
	background-color: $lightblue
	font-family: Arial, sans-serif

.body-bg
	background-color: $white
	min-height: 100%
	overflow: overlay

nav 
	background-color: $blue
	display: block

nav ul
	list-style-type: none
	margin: 0
	padding: 0
	overflow: hidden

nav ul li
	float: left

nav li a
	display: block
	color: white
	text-align: center
	padding: 14px 16px
	text-decoration: none
	font-weight: 600

nav li a:hover
	background-color: $darkblue

.active
	background-color: $darkblue

.delete-bar
	margin: 12px 0px
	border-top: 1px solid $darkblue
	border-bottom: 1px solid $darkblue
	padding: 10px 15px

.delete-bar label
	position: relative
	top: 5px

.delete-bar input[type="checkbox"]
	position: absolute
	top: 25px

.left
	float: left

.right
	float: right

.btn
	padding: 6px 12px
	cursor: pointer
	border: 2px solid transparent
	border-radius: 4px
	background-color: $blue
	color: $lightblue
	font-weight: 600

.btn:hover
	background-color: $darkblue

.product-box
	padding: 14px
	float: left

.product-innerbox
	border: 1px solid black
	padding: 20px
	background-color: $lightblue
	border-radius: 10px

.product-innerbox p
	font-size: 17px
	position: relative

.product-checkbox
	position: absolute
	right: 16px
	top: 16px

input[type="checkbox"]
	cursor: pointer
	width: 20px
	height: 20px

form.form-group
	margin: 30px 10px

.form-input
	margin: 10px 0px

.form-input label
	font-weight: 700
	
.form-input input
	height: 30px
	width: 200px

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button 
	-webkit-appearance: none 
	margin: 0

.form-group select
	cursor: pointer
	width: 100px
	height: 30px

.type
	background-color: $lightblue
	border: 1px solid black
	width: 200px

.form-input p
	margin: 5px

.form-input hr
	float: left
	width: 250px

.fix
	clear: both

.hidden
	display: none
